button {
    margin-top: 10px;
    float: right;
    padding: 5px;
}

.vendor-section {
    margin: 30px 0;
    padding: 10px;
    background-color: ghostwhite;
}

.t-body {
    max-height: 300px;
    overflow-y: scroll;
}

table {
    width: 100%;
    text-align: left;
}

.vendor-idendity {
    padding: 10px;
}

.vendor-idendity span {
    margin-right: 10px;
}

span.filter {
    border: 1px solid lightgray;
    margin-right: 5px;
    padding: 5px;
}

.filter-section {
    text-align: right;
}

span.filter-arrow {
    width: 5px;
    display: inline-block;
}
